@import url(/css/usagi_custom.css);
@charset "utf-8";

/* CSS Document */

body ,h4{
  margin : 0;
  padding : 0;
}

/*#main*/
#container_main
{
  width:800px;
  height:600px;
  margin-left:auto;
  margin-right:auto;
  margin:0 auto;
}

body > header {
  width:800px;
  height:50px;
  margin:auto;
}

#top_img {
  width:400px;
  height:600px;
  float:left;
}

#top_img img {
  width:400px;
  margin-top:60px;
}

#select_button {
  width:400px;
  height:500px;
  float:right;
  margin-top:100px;
}

#select_button img {
  margin-right:50px;
  margin-bottom:30px;
  float:right;
}

/*学科・コース一覧*/
table {
  width:700px;
  margin-bottom:5px;
  margin-left:50px;
  margin-right:50px;
  overflow : auto;
  border-collapse : collapse;
}

table tr, th,td {
  border : 1px solid black;
}

table td, table li {
  text-align:center;
}

table ul{
  list-style:none;
}

table input {
  margin:auto;
}

#buttons {
  width:800px;
  height:30px;
}	

#buttons input {
  float:right;
  margin-right:20px;
}

#con {
  width:700px;
  margin-left:50px;
  margin-right:50px;
}

#con input{
  margin-top:10px;
}
 /*予定登記*/
.class_regist {
 		margin-bottom:10px;
}

.class_regist > h4 {
		width:auto;
		float:left;
		margin-right:10px;
}

#content {
		width: 700px;
		height: 150px;
}

#add_or_modify_schedule {
		float: right;
}



