<article id="contens">
  
  <div id="top_img" class="gozaru">
    <!--img src="/img/sukejuu.svg"-->
    <!--img src="/img/top_img.jpg"-->
  </div>
    
  <div id="select_button">
    
    <a
      id="show_schedules"
      class="top_button blue_top_button top_button_fix"
      href="javascript:void(0);"
      >
      予定見物
      <!--img src="img/view.jpg"-->
    </a>
    
    <a
      id="show_courses"
      class="top_button orange_top_button top_button_fix"
      href="javascript:void(0);"
      >
      学科確認
      <!--img src="img/settei.jpg"-->
    </a>
    
    <a
      id="regist_schedule"
      class="top_button green_top_button top_button_fix"
      href="javascript:void(0);"
      >
      予定登記
      <!--img src="img/touroku.jpg"-->
    </a>
  
  </div>
</article>

<script src="/script/main.js"></script>
