<nav>
  ←
  <a
    class="to_main"
    href="javascript:void(0);"
    >トップページ</a>
  &gt;
  <a
    class="to_regist_schedule"
    href="javascript:void(0);"
    >予定の削除、変更、追加</a>
  <p>★予定の変更・新規追加を行うでござる</p>
</nav>

<article>
  <div id="regist">
    <form>

      <!-- category -->
      分類:
      <select id="category">
        {foreach from=$categories item=c}
        <option value="{$c.id}">{$c.name}</option>
        {/foreach}
      </select>
      
      <!-- grade -->
      学年:
      <select id="grade">
        <option value="0">[全ての学年] 
        {foreach from=[1,2,3,4] item=v}
        <option value="{$v}">{$v}
        {/foreach}
      </select>

      <!-- department -->
      学科: 
      <select id="department">
        <option value="null" selected>[全ての学科]</option>
        {foreach from=$departments item=d}
        <option value="{$d.id}">{$d.name}</option>
        {/foreach}
      </select>

      <!-- course -->
      コース: 
      <select id="course">
        <option value="null" selected>[全てのコース]</option>
        {foreach from=$courses item=c}
        <option value="{$c.id}">{$c.name}</option>
        {/foreach}
      </select>

      <!-- invoke_time -->
      開始日時:
      <input id="datetime_begin"
        type="datetime-local"
        value="{$datetime_now}"
        >
      
      <!--  -->
      終了日時:
      <input id="datetime_end"
        type="datetime-local"
        value="{$datetime_now}"
        >
      <!-- title -->
      件名:
      <input id="title">
      
      <!-- content -->
      内容:
      <textarea id="content"></textarea>
      
    </form>
  </div>
  <a
    id="add_or_modify_schedule"
    class="standard_button"
    href="javascript:void(0);"
    >{if $is_modify==='true'}変更{else}追加{/if}</a>

</article>
<script>
var categories  = JSON.parse('{json_encode($categories)}')
var departments = JSON.parse('{json_encode($departments)}')
var courses     = JSON.parse('{json_encode($courses)}')
var schedules   = JSON.parse('{json_encode($schedules)}')
</script>
<script src="/script/show_schedule_system.js"></script>
<script>
var is_modify = {$is_modify}
var schedule
try { schedule = JSON.parse('{$schedule}') } catch(e) { }
</script>
<script>
var params = function()
{
  var r = is_modify ? schedule : { }

  r.category_id = $('#category').val()
  r.grade       = $('#grade').val()
  r.course_id   = $('#course').val()
  if(typeof r.course_id !== typeof 0)
    r.course_id = 0
  r.invoke_time = $('#datetime_begin')[0].valueAsNumber
  r.time_span   = $('#datetime_end')[0].valueAsNumber - r.invoke_time
  r.title       = $('#title').val()
  r.content     = $('#content').val()

  return r;
}

var add_or_modify_schedule = function()
{
  var c = (is_modify ? 'modify' : 'add') + '_schedule'
  var ps = params()
  console.log(c, ps)
  command
  ( c
  , ps
  , function(r)
    {
      console.log(r)
      if(r.return)
        command('regist_schedule')
      else
        audio_play_function('failed')()
    }
  )
}

$(function() {
  
  var f = function(e)
  {
    $(e).unbind('mouseover')
    $(e).unbind('focus')
  }
  
  var unbinds = 
  [ '#category'
  , '#grade'
  , '#department'
  , '#course'
  , '#date_begin'
  , '#date_end'
  , '#title'
  , '#content'
  ]

  for(var k in unbinds)
    f(unbinds[k])
  
  //$('#department').change(update_courses);
  
  if(is_modify)
  {
    change_subtitle('予定登記（変更）', 'modify_schedule')
    $('#category'  ).val(schedule.category_id)
    $('#grade'     ).val(schedule.grade)
    $('#department').val(attached_department_id(schedule.course_id))
    $('#course'    ).val(schedule.course_id)
    $('#title'     ).val(schedule.title)
    $('#content'   ).val(schedule.content)
  }
  else
    change_subtitle('予定登記（新規）', 'add_schedule')

  multiple_bind_audio_with_command
  ( [ [ '.to_main'           , 'to_back'   , 'main'           ]
    , [ '.to_regist_schedule', 'to_back'   , 'regist_schedule']
    , [ '#add_or_modify_schedule'
      , is_modify
        ? 'modify_schedule'
        : 'add_schedule'
      , null
      ]
    ]
  )
  
  $('#add_or_modify_schedule').click(add_or_modify_schedule)
  $('#datetime_begin').change
  ( function()
    {
      var b = $('#datetime_begin')
      var e = $('#datetime_end')
      e.attr('min', b.val())
      if(e[0].valueAsNumber < b[0].valueAsNumber)
        e.val(b.val())
    }
  )
  
  update_schedules = function() { }
} )
</script>
