<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>予定登録</title>

<link rel="stylesheet" type="text/css" href="auth_schedule_register_new.css" media="all">

<SCRIPT language=JavaScript>

// 数値のみを入力可能にする
function numOnly() {
  m = String.fromCharCode(event.keyCode);
  if("0123456789\b\r".indexOf(m, 0) < 0) return false;
  return true;
}


</SCRIPT>

</head>

<style>



</style>

<body>

<div id="wrap">

<!-- タイトル＆ロゴの画像入れる -->
<div id="head_img">
<!--<img id="title" src="img/a.jpg">-->
</div>

<!--パンクズリスト -->
<div id="p-list">

<!--

 <a href="javascript:void(0);"
       onClick="command('')"  
       ><li>command('main')</a></li>　＜
       
 <a href="javascript:void(0);"
       onClick="command('regist')"
       ><li>command('ragist')</a> ＜　登録   
       
--> 
</div>

<!-- カテゴリ選択 -->
<div id="category">

<p>カテゴリ：</p>


<div id="checkbox">
<ul>
<li><input type="checkbox" name="category" value="1">学校<br></li>
<li><input type="checkbox" name="category" value="2">クラス<br></li>
<li><input type="checkbox" name="category" value="4">就職<br></li>
<li><input type="checkbox" name="category" value="8">学生会</li>
</ul>

</div>

<div id="pulldown">
<FORM NAME=formMain METHOD=POST ACTION=result.asp onSubmit="return funcSubmit()">
<select style="width:80px;margin-top:30px;text-align:center;background-color:#CCC;" name = "gakunen"　onChange="funcMain(true)">
<option value = "" selected>(学年)
<option value = "1">1
<option value = "2">2
<option value = "3">3
<option value = "4">4
</select>

<select style="width:170px;margin-left:8px;text-align:center;background-color:#CCC;" name = "pref">
<option value="" selected>(学科を選択してください)
<option value="">情報システム科
<option value="">WEBネットワーク科
<option value="">システム工学科
<option value="">ITエキスパート科
<option value="">情報ビジネス科
<option value="">会計ビジネス科
<option value="">デザイン科
<option value="">総合デザイン科
</select>

<select style="width:200px;margin-left:8px;background-color:#CCC;" name = "course">
<option value="" selected>(コースを選択してください)
<option value="">
<option value="">
<option value="">
<option value="">
<option value="">
<option value="">
<option value="">
</select>
</form>



</div>

</div>

<div id="kinyuran">
<form method="post">
<h5>タイトル：</h5>
<input style="width:300px;font-size:12px;border:2px solid #000;" name="title" type="text"><br>

<h5>日　　付：</h5>
<input style="width:30px;font-size:12px;border:2px solid #000;" name="month" type="text" maxlength="2" onkeyDown="return numOnly()">月
<input style="width:30px;font-size:12px;border:2px solid #000;" name="day" type="text" maxlength="2" onkeyDown="return numOnly()">日
<input style="width:20px;font-size:12px;border:2px solid #000;" name="youbi" type="text" disable="disable">
曜日　～　
<input style="width:30px;font-size:12px;border:2px solid #000;" name="month" type="text" maxlength="2" onkeyDown="return numOnly()">月
<input style="width:30px;font-size:12px;border:2px solid #000;" name="day" type="text" maxlength="2" onkeyDown="return numOnly()">日
<input style="width:20px;font-size:12px;border:2px solid #000;" name="youbi" type="text" disable="disable">
曜日<br>

<h5>時　　間：</h5>
<input style="width:30px;font-size:12px;border:2px solid #000;" name="time" type="text" maxlength="2" onkeyDown="return numOnly()">時
<input style="width:30px;font-size:12px;border:2px solid #000;" name="time" type="text" maxlength="2" onkeyDown="return numOnly()">分　～　

<input style="width:30px;font-size:12px;border:2px solid #000;" name="time" type="text" maxlength="2" onkeyDown="return numOnly()">時
<input style="width:30px;font-size:12px;border:2px solid #000;" name="time" type="text" maxlength="2" onkeyDown="return numOnly()">分<br>

<h5>記入者：</h5>
<input style="width:200px;font-size:12px;border-style:solid;" name="tantou" type="text"><br>

<h5>内　　容：</h5>
<textarea rows="5" name="naiyou" style="width:700px;border-style:solid;"></textarea><br>


<button type="submit" name="touroku_b" value="登録"><big>登録</big></button>

</form>
</div>

</div>


</body>
</html>

