<article>
  ←
  <a
    class="to_main"
    href="javascript:void(0);"
    >トップページ</a>
  &gt;
  <a
    class="to_regist_schedule"
    href="javascript:void(0);"
    >予定の削除、変更、追加</a>
  <p>★予定の変更・新規追加を行うでござる</p>

  <div id="regist">
    <form>

      <!-- category -->
      分類:
      <select id="category">
        {foreach from=$categories item=c}
        <option value="{$c.id}">{$c.name}</option>
        {/foreach}
      </select>
      
      <!-- grade -->
      学年:
      <select id="grade">
        <option value="0">[全ての学年] 
        {foreach from=[1,2,3,4] item=v}
        <option value="{$v}">{$v}
        {/foreach}
      </select>

      <!-- department -->
      学科: 
      <select id="department">
        <option value="null" selected>[全ての学科]</option>
        {foreach from=$departments item=d}
        <option value="{$d.id}">{$d.name}</option>
        {/foreach}
      </select>

      <!-- course -->
      コース: 
      <select id="course">
        <option value="null" selected>[全てのコース]</option>
        {foreach from=$courses item=c}
        <option value="{$c.id}">{$c.name}</option>
        {/foreach}
      </select>

      <!-- invoke_time -->
      開始日時:
      <input id="date_begin"
        type="date"
        min="{$date_min}"
        max="{$date_max}"
        value="{$date_today}"
        >
      
      <!--  -->
      終了日時:
      <input id="date_end"
        type="date"
        min="{$date_min}"
        max="{$date_max}"
        value="{$date_max}"
        >
      <!-- title -->
      件名:
      <input id="title">
      
      <!-- content -->
      内容:
      <textarea id="#content"></textarea>
      
    </form>
  </div>
  <a
    id="add_or_modify_schedule"
    class="standard_button"
    href="javascript:void(0);"
    >{if $is_modify==='true'}変更{else}追加{/if}</a>

</article>
<script>
var categories  = JSON.parse('{json_encode($categories)}')
var departments = JSON.parse('{json_encode($departments)}')
var courses     = JSON.parse('{json_encode($courses)}')
var schedules   = JSON.parse('{json_encode($schedules)}')
</script>
<script src="/script/show_schedule_system.js"></script>
<script>
var is_modify = {$is_modify}
</script>
<script>
console.log(-1)
$(function() {
console.log(-2)
  if(is_modify)
    change_subtitle('予定登記（変更）', 'modify_schedule')
  else
    change_subtitle('予定登記（新規）', 'add_schedule')

  multiple_bind_audio_with_command
  ( [ [ '.to_main'           , 'to_back'   , 'main'           ]
    , [ '.to_regist_schedule', 'to_back'   , 'regist_schedule']
    , [ '#add_or_modify_schedule'
      , is_modify
        ? 'modify_schedule'
        : 'add_schedule'
      , null
      ]
    ]
  )
  
  $('#add_or_modify_schedule').click(add_or_modify_schedule)
  
  update_schedules = function() { } 
} )

</script>
