<!DOCTYPE html>
<meta charset="utf-8">
<link rel=stylesheet type="text/css" href="css/global.css">

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://raw.github.com/browserstate/history.js/master/scripts/bundled/html5/native.history.js"></script>
{$script_client_main}
<script src="https://raw.github.com/deviantART/jquery.deviantartmuro/master/jquery.deviantartmuro.js"></script>

<title class="title">{$system_name}</title>

<header>
  <h1 class="title">{$system_name}</h1>
</header>

<hr>

<div id="{$html_id_container_main}"></div>

<footer>
<hr>
<span id="copyright">(C){$copyright_year} {$copyright_author}.</span>
<br>
<span id="license">{$license}</span>
</footer>

<div id="voices" class="hidden"></div>

<script>
  var system_name = '{$system_name}'
</script>
<script src="/script/top.js"></script>
